{%extends 'main.html' %}

{% block content %}
<br><br>
<div class="center">
<h2>edit blog</h2>    
     <form method="post">
     {% csrf_token %}
     <br>
    
      <input type="text" name="topic" autofocus size="33" value="{{blog.topic}}" placeholder="topic"><br>
      
      <textarea name="description" id="" cols="30" rows="3" placeholder="decription" size="35">{{blog.description}}</textarea>
    
    
      <button class="glow-on-hover" type="submit">edit details</button>
     
     </form>
    
    </div>
    

{% endblock %}