
{% extends 'main.html' %}
{% block content %}
<br><br>
<div class="center">
<h2>register here</h2>
{% for message in messages %}
 <font color ="red"> {{message}}</font>
 {% endfor %}

<div>
   <form action="" method="post">
       {% csrf_token %}<label for="">firstname</label><br>
       <input type="text" name="first_name" placeholder="first_name" required autofocus><br>
       <br>
       <label for="">lastname</label><br>
       <input type="text" name="last_name" placeholder="last_name"><br>
       <br>
       <label for="">username</label><br>
       <input type="text" name="username" placeholder="username" required> <br>
       <br>
       <label for="">email</label><br>
       <input type="text" name="email" placeholder="email field" required><br>
       <br>
       <label for="">password</label><br>
       <input type="password" name="password" placeholder="password" required><br>
       <br>
       <label for="">confirm password</label><br>
       <input type="password" name="password2" placeholder="cnfrm password" required><br>
       <br>
       <button class="glow-on-hover" type="submit">register</button>
  
    </form>
</div>

</div>

{% endblock %}